* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
}

:root {
  --white: #fff;
  --light-white: #fafafa;
  --black: #000;
  --light-black: #eeeeee;
  --medium-black: #8c8c8cff;
  --gray: rgba(244, 244, 247, 1);
  --green: #27ae60;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

nav {
  height: 100vh;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--light-white);
}
nav .top {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
nav .top .user,
nav .top .logo {
  width: 35px;
  height: 35px;
}
nav .top .user {
  cursor: pointer;
  border-radius: 50%;
}
nav .center {
  margin-top: 24px;
  flex: 1;
}
nav .bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
nav .bottom button img {
  width: 20px;
}

.messages {
  width: 350px;
  height: 98vh;
  border-right: 1px solid var(--light-black);
}
.messages .top {
  padding: 35px 20px 0 20px;
}
.messages .top h2 {
  font-size: 23px;
}
.messages .top .search {
  width: 100%;
  display: flex;
  margin-top: 10px;
  background-color: var(--light-black);
  border-radius: 12px;
}
.messages .top .search .left {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.messages .top .search .left img {
  width: 18px;
}
.messages .top .search .right {
  width: 100%;
  height: inherit;
}
.messages .top .search .right input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  padding-right: 10px;
}
.messages .bottom {
  margin-top: 15px;
  overflow-y: auto;
  height: 84%;
}
.messages .bottom::-webkit-scrollbar {
  display: none;
}
.messages .bottom .user {
  display: flex;
  gap: 10px;
  padding: 10px 20px;
  transition: 0.5s;
  cursor: pointer;
  position: relative;
}
.messages .bottom .user .left {
  width: 36px;
}
.messages .bottom .user .left .user-img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.messages .bottom .user .left .online {
  width: 10px;
  position: absolute;
  margin-top: 24px;
  transform: translateX(-8px);
}
.messages .bottom .user .center {
  width: 250px;
}
.messages .bottom .user .center .name {
  display: flex;
  align-items: center;
  gap: 5px;
}
.messages .bottom .user .center .typing {
  color: var(--green);
}
.messages .bottom .user .center .new-message {
  opacity: 100% !important;
}
.messages .bottom .user .center .text {
  font-size: 0.8rem;
  color: var(--medium-black);
}
.messages .bottom .user .right {
  width: 40px;
}
.messages .bottom .user .right p {
  float: right;
  opacity: 65%;
}
.messages .bottom .user .right .new-message {
  font-size: 0.6rem;
  background-color: var(--green);
  color: var(--white);
  padding: 3px 5.5px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  opacity: 100% !important;
}
.messages .bottom .user .right img {
  display: block;
  float: right;
  margin-top: 5px;
}
.messages .bottom .user:hover {
  background-color: var(--light-black);
}

.chat-default {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  height: 100vh;
}
.chat-default p {
  background-color: var(--green);
  color: var(--white);
  padding: 3px 5px;
  border-radius: 5pc;
  font-size: 0.8rem;
}

.chat {
  width: 52%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.chat .chat-navbar {
  border-bottom: 1px solid var(--light-white);
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.chat .chat-navbar .left {
  display: flex;
  gap: 10px;
}
.chat .chat-navbar .left .img .user-img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.chat .chat-navbar .left .text span {
  color: var(--green);
  font-size: 0.9rem;
}
.chat .chat-navbar .right {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
}
.chat .chat-navbar .right img {
  cursor: pointer;
}
.chat .message {
  background-color: var(--light-white);
  padding: 10px 20px;
  overflow-y: scroll;
  flex: 1;
}
.chat .message::-webkit-scrollbar {
  display: none;
}
.chat .message .xabar {
  padding: 8px;
  border-radius: 12px;
  background-color: var(--gray);
  width: -moz-fit-content;
  width: fit-content;
  max-width: 80%;
  font-size: 0.9rem;
  margin-top: 10px;
  clear: both;
}
.chat .message .xabar:first-child {
  margin: 0;
}
.chat .message .left {
  background-color: var(--green);
  color: var(--white);
  float: right;
}
.chat .sender {
  padding: 10px 20px;
  background-color: var(--white);
  bottom: 0;
}
.chat .sender form {
  display: flex;
  align-items: center;
  gap: 15px;
}
.chat .sender img {
  cursor: pointer;
}
.chat .sender textarea {
  width: auto;
  height: 36px;
  padding-top: 8px;
  padding-left: 10px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  resize: none;
  overflow: hidden;
  outline: none;
  border: 1px solid transparent;
  border-radius: 12px;
  background-color: var(--light-white);
  transition: 0.3s;
  max-height: 25dvh;
}
.chat .sender textarea:focus {
  border: 1px solid var(--green);
}
.chat .sender button {
  color: var(--green);
}

.user-infos {
  width: 25%;
  border-left: 1px solid var(--light-black);
  padding: 20px;
}
.user-infos .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.user-infos .top img {
  width: 12px;
  cursor: pointer;
}
.user-infos .user-profile {
  display: flex;
  align-items: center;
  gap: 15px;
}
.user-infos .user-profile img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
.user-infos .user-profile span {
  color: var(--green);
}/*# sourceMappingURL=style.css.map */