* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  // border: 1px solid red;
}

body {
  display: flex;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color:var(--black);
}

:root {
  --white: #fff;
  --light-white: #fafafa;
  --black: #000;
  --light-black: #eeeeee;
  --medium-black: #8c8c8cff;
  --gray: rgba(244, 244, 247, 1);
  --green: #27ae60;
  --opacity-green:rgba(39, 174, 96, 0.7);
  --light-red: #ff1a1a;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

// navbar styles

nav {
  height: 100vh;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--light-white);
  .top {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    .user,
    .logo {
      width: 35px;
      height: 35px;
    }
    .user {
      cursor: pointer;
      border-radius: 50%;
    }
  }
  .center {
    margin-top: 24px;
    flex: 1;
  }
  .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    button {
      img {
        width: 20px;
      }
    }
  }
}

// messages styles

.messages {
  width: 350px;
  height: 100vh;
  border-right: 1px solid var(--light-black);
  .top {
    padding: 35px 20px 0 20px;
    height: 16%;
    h2 {
      font-size: 23px;
    }
    .search {
      width: 100%;
      display: flex;
      margin-top: 10px;
      background-color: var(--light-black);
      border-radius: 12px;
      .left {
        display: flex;
        justify-content: center;
        padding: 10px;
        img {
          width: 18px;
        }
      }

      .right {
        width: 100%;
        height: inherit;
        input {
          width: 100%;
          height: 100%;
          border: none;
          outline: none;
          background-color: transparent;
          padding-right: 10px;
        }
      }
    }
  }

  .bottom {
    margin-top: 15px;
    overflow-y: auto;
    height: 81%;

    &::-webkit-scrollbar {
      display: none;
    }
    .user {
      display: flex;
      gap: 10px;
      padding: 10px 20px;
      transition: 0.5s;
      cursor: pointer;
      position: relative;
      .left {
        width: 36px;
        .user-img {
          width: 36px;
          height: 36px;
          border-radius: 50%;
        }
        .online {
          width: 10px;
          position: absolute;
          margin-top: 24px;
          transform: translateX(-8px);
        }
      }

      .center {
        width: 250px;
        .name {
          display: flex;
          align-items: center;
          gap: 5px;
        }
        .typing {
          color: var(--green);
        }
        .new-message {
          opacity: 100% !important;
        }
        .text {
          font-size: 0.8rem;
          color: var(--medium-black);
        }
      }

      .right {
        width: 40px;
        p {
          float: right;
          opacity: 65%;
        }
        .new-message {
          font-size: 0.6rem;
          background-color: var(--green);
          color: var(--white);
          padding: 3px 5.5px;
          border-radius: 100px;
          display: flex;
          justify-content: center;
          opacity: 100% !important;
        }
        img {
          display: block;
          float: right;
          margin-top: 5px;
        }
      }

      &:hover {
        background-color: var(--light-black);
      }
    }
  }
}

// chat default styles

.chat-default {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  height: 100vh;
  p {
    background-color: var(--green);
    color: var(--white);
    padding: 3px 5px;
    border-radius: 5pc;
    font-size: 0.8rem;
  }
}

// chat styles

.chat {
  width: 52%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.5s;
  .chat-navbar {
    border-bottom: 1px solid var(--light-white);
    padding: 10px;
    display: flex;
    justify-content: space-between;

    .left {
      display: flex;
      gap: 10px;
      .img {
        .user-img {
          width: 36px;
          height: 36px;
          border-radius: 50%;
        }
      }
      .text {
        span {
          color: var(--green);
          font-size: 0.9rem;
        }
      }
    }

    .right {
      display: flex;
      gap: 10px;
      justify-content: center;
      align-items: center;
      padding-right: 10px;
      img {
        cursor: pointer;
      }
    }
  }

  .message {
    background-color: var(--light-white);
    padding: 10px 20px;
    overflow-y: scroll;
    flex: 1;

    &::-webkit-scrollbar{
      display: none;
    }
    .xabar {
      padding: 8px;
      border-radius: 12px;
      background-color: var(--gray);
      width: fit-content;
      max-width: 80%;
      font-size: 0.9rem;
      margin-top: 10px;
      clear: both;
      &:first-child{
        margin: 0;
      }
    }

    .left{
      background-color: var(--green);
      color: var(--white);
      float: right;
    }
  }

  .sender {
    padding: 10px 20px;
    background-color: var(--white);
    bottom: 0;

    form {
      display: flex;
      align-items: center;
      gap: 15px;
    }

    img{
      cursor: pointer;
    }

    textarea {
      width: auto;
      height: 36px;
      padding-top: 8px;
      padding-left: 10px;
      border: 1px solid black;
      display: flex;
      justify-content: center;
      resize: none;
      overflow: hidden;
      outline: none;
      border: 1px solid transparent;
      border-radius: 12px;
      background-color: var(--light-white);
      transition: 0.3s;
      max-height: 25dvh;

      &:focus {
        border: 1px solid var(--green);
      }
    }

    button {
      color: var(--green);
    }
  }
}

.user-infos{
  width: 25%;
  border-left: 1px solid var(--light-black);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: 0.5s;
  .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    img{
      width: 12px;
      cursor: pointer;
    }
  }

  .user-profile{
    display: flex;
    align-items: center;
    gap: 15px;
    img{
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
    }
    span{
      color: var(--green);
    }
  }

  .infos{
    display: flex;
    flex-direction: column;
    gap: 10px;
    .info{
      display: flex;
      align-items: center;
      gap: 10px;
      p{
        font-size: 0.9rem;
      }
      span{
        color: var(--medium-black);
        font-size: 0.8rem;
      }
      img{
        width: 18px;
        height: 18px;
        fill: var(--medium-black) !important;
      }
    }
    .username .right p{
      color: var(--green);
      cursor: pointer;

      &:hover{
        text-decoration: underline;
      }
    }
  }
}

.fixer{
  width: 100%;
  height: 100vh;
  position: fixed;
  display: none;
  z-index: 500;
}

// settings

.settings{
  width: 100%;
  height: 100vh;
  position: fixed;
  display: none;
  justify-content: center;
  align-items: start;
  padding-top: 100px;
  user-select: none;
  transition: 0.5s;
  z-index: 100;
  background: rgba(0, 0 , 0 ,0.2);
  .container{
    width: 400px;
    padding: 15px;
    background-color: var(--white);
    border-radius: 12px ;
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 999;
    
    animation: setting 0.5s;
    
    @keyframes setting {
      from{
        transform: translateY(-130%);
      }
      to{
        transform: translateY(0);
      }
    }
    .top{
      display: flex;
      align-items: center;
      justify-content: space-between;
      img{
        width: 12px;
        cursor: pointer;
      }
    }
    .user-profile{
      display: flex;
      align-items: center;
      gap: 15px;
      img{
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
      }
      span{
        color: var(--medium-black);
        &:hover{
          text-decoration:underline;
          cursor: pointer;
        }
      }
    }
    ul{
      li{
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px;
        cursor: pointer;
        border-radius: 5px;
        transition: 0.3s;

        &:hover{
          background-color: var(--light-black);
        }
        img{
          fill: var(--green) !important;
        }
      }
    }
    text{
      text-decoration: none;
      text-align: center;
      color:var(--medium-black);
      font-size: 0.7rem;
    }
  }
}

.profile-edit{
  width: 100%;
  height: 100vh;
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  user-select: none;
  transition: 0.5s;
  z-index: 100;
  background: rgba(0, 0 , 0 ,0.2);

  .container{
    width: 400px;
    padding: 15px;
    background-color: var(--white);
    border-radius: 12px ;
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 999;
    .top{
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 15px;
      p{
        flex: 1;
      }
      img{
        cursor: pointer;
        &:last-child{
          width: 12px;
        }
      }
    }
    .img{
      form{
        .file-label {
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;  
          margin: 10px 0;
          .pro-img{
            width: 100px;
            height: 100px;
            background-color: #000;
            border-radius: 50%;
            overflow: hidden;
            &:hover{
              .camera{
                transform: translateY(-25px);
              }
            }
            .camera{
              transition: 0.5s;
              background: var(--opacity-green);
              display: flex;
              justify-content: center;  
              padding-bottom: 10px;
            }
          }
          .file{
            display: none;
          }
          .file-custom {
            margin-left: 10px;
          }
        }
        #profileImage {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          object-fit: cover;
        }
        .infos{
          display: flex;
          flex-direction: column;
          gap: 15px;
          margin-top: 30px;
          label{
            font-size: 14px;
            color: var(--medium-black);
          }
          input, textarea{
            width: 100%;
            outline: none;
            padding: 8px;
            border-radius: 10px;
            border: 1px solid var(--medium-black);
            resize: none;
          }
          button{
            padding: 10px 20px;
            background-color: var(--green);
            color: var(--white);
            border-radius: 10px;
          }
        }
        label, input{
          display: block;
        }
      }
    }
  }
}
.logout{
  align-items: center;
  padding: 0;
  .container{
    span{
      font-size: 0.9rem;
      color: var(--medium-black);
    }
    .btns{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      gap: 10px;
      button{
        padding: 5px 10px;
        color: var(--white);
        border-radius: 5px;
        font-size: 1rem;

        &:first-child{
          background-color: var(--medium-black);
        }

        &:last-child{
          background-color:var(--light-red) ;
        }
      }
    }
  }
}

.language{
  width: 100%;
  height: 100vh;
  position: fixed;
  display: none ;
  justify-content: center;
  align-items: center;
  user-select: none;
  transition: 0.5s;
  z-index: 100;
  background: rgba(0, 0 , 0 ,0.2);

  .container{
    width: 400px;
    padding: 15px;
    background-color: var(--white);
    border-radius: 12px ;
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 999;
    .top{
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 15px;
      p{
        flex: 1;
      }
      img{
        cursor: pointer;
        &:last-child{
          width: 12px;
        }
      }
    }
    .bottom{
      ul{
        li{
          display: flex;
          align-items: center;
          gap: 10px;
          padding: 10px;
          cursor: pointer;
          border-radius: 5px;
          transition: 0.3s;
  
          &:hover{
            background-color: var(--light-black);
          }
          img{
            fill: var(--green) !important;
            display: none;
          }
        }
      }
    }
  }
}